[submodule "SpringBootJenkinsAndGoogleSSO"]
	path = SpringBootJenkinsAndGoogleSSO
	url = https://github.com/michael-steinert-repository/SpringBootJenkinsAndGoogleSSO.git
[submodule "SpringDataRedis"]
	path = SpringDataRedis
	url = https://github.com/michael-steinert-repository/SpringDataRedis.git
[submodule "SpringBootRabbitMQ"]
	path = SpringBootRabbitMQ
	url = https://github.com/michael-steinert-repository/SpringBootRabbitMQ.git
[submodule "SpringBootDataRest"]
	path = SpringBootDataRest
	url = https://github.com/michael-steinert-repository/SpringBootDataRest.git
[submodule "SpringBootReactiveMongoDB"]
	path = SpringBootReactiveMongoDB
	url = https://github.com/michael-steinert-repository/SpringBootReactiveMongoDB.git
