[submodule "SpringBootJenkinsAndGoogleSSO"]
	path = SpringBootJenkinsAndGoogleSSO
	url = https://github.com/michael-steinert-repository/SpringBootJenkinsAndGoogleSSO.git
[submodule "SpringDataRedis"]
	path = SpringDataRedis
	url = https://github.com/michael-steinert-repository/SpringDataRedis.git
[submodule "SpringBootRabbitMQ"]
	path = SpringBootRabbitMQ
	url = https://github.com/michael-steinert-repository/SpringBootRabbitMQ.git
[submodule "SpringBootDataRest"]
	path = SpringBootDataRest
	url = https://github.com/michael-steinert-repository/SpringBootDataRest.git
[submodule "SpringBootReactiveMongoDB"]
	path = SpringBootReactiveMongoDB
	url = https://github.com/michael-steinert-repository/SpringBootReactiveMongoDB.git
[submodule "SpringBootActuator"]
	path = SpringBootActuator
	url = https://github.com/michael-steinert-repository/SpringBootActuator.git
[submodule "SpringBootWebFlux"]
	path = SpringBootWebFlux
	url = https://github.com/michael-steinert-repository/SpringBootWebFlux.git
[submodule "SpringBootGraphQL"]
	path = SpringBootGraphQL
	url = https://github.com/michael-steinert-repository/SpringBootGraphQL.git
[submodule "FullStackSpringBoot2021"]
	path = FullStackSpringBoot2021
	url = https://github.com/michael-steinert-repository/FullStackSpringBoot2021.git
[submodule "SpringBootTesting"]
	path = SpringBootTesting
	url = https://github.com/michael-steinert-repository/SpringBootTesting.git
